<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>True</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>200</charcode>
    <chardata>
      <data>219</data>
      <data>254</data>
      <data>181</data>
      <data>111</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
      <data>247</data>
    </chardata>
  </character>
  <character>
    <charcode>201</charcode>
    <chardata>
      <data>91</data>
      <data>238</data>
      <data>181</data>
      <data>127</data>
      <data>246</data>
      <data>221</data>
      <data>239</data>
      <data>117</data>
    </chardata>
  </character>
  <character>
    <charcode>202</charcode>
    <chardata>
      <data>189</data>
      <data>106</data>
      <data>255</data>
      <data>213</data>
      <data>110</data>
      <data>245</data>
      <data>191</data>
      <data>118</data>
    </chardata>
  </character>
  <character>
    <charcode>203</charcode>
    <chardata>
      <data>51</data>
      <data>204</data>
      <data>0</data>
      <data>51</data>
      <data>204</data>
      <data>0</data>
      <data>51</data>
      <data>204</data>
    </chardata>
  </character>
  <character>
    <charcode>204</charcode>
    <chardata>
      <data>204</data>
      <data>51</data>
      <data>0</data>
      <data>204</data>
      <data>51</data>
      <data>0</data>
      <data>204</data>
      <data>51</data>
    </chardata>
  </character>
</charset>
